<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="coming, soon, page, orman, clark, john, sardine, johnsardine, download" />

    <title>Coming Soon Splash Page CSS3</title>

    <link rel="stylesheet" href="http://41.215.240.102/static/style.css">

  </head>
  <body>

    <div id="coming-soon">
      <h1>Pros 4 hire</h1>
      <h2>A marketplace for gamers</h2>
      <p>sell your skills to the highest bidder, and get paid to do what you love</p>
      <br/>
      <div id="tip">
        <u> add your mail to join the closed beta as soon as it starts!</u>
      </div>
      <form method="post" action="thankyou.php" >
        <div id="subscribe">
          <input type="text" name="email" placeholder="enter your email address...">
          <input type="submit" value="Go!">
          <div class="clear"></div>
        </div>
        <p> the voices in my head say that we won't spam your inbox </p>
      </form>
      <a href="http://facebook.com/offended" title="Visit our Facebook Page" class="facebook center">Pros 4 hire</a>

    </div>

  </body>
</html>
